# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Photoshop sources
*.psd

# Visual Studio Code folder
*.vscode/

# Configuration settings of the bot
config.py

# Current graph image
graph.png
